.loader {
    /*свг и/или анимация*/
    /*width: 90px;
    height: 90px;
    border: 9px solid pink;
    border-top: 9px solid #4d2bcc;
    border-radius: 50%;
    animation: spin 1.5s linear infinite;*/

    width: 90px;
    height: 90px;
    background-image: url('preloader.svg');
}

/*
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}*/
