.input:focus {
}

.input {
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    width: 372px;
    height: 36px;
    padding: 7px 12px 8px 12px;
}

.inputWrapper {
}

.superInput {
}

.errorInput {
    border: 1px solid rgb(204, 20, 57);
}

.errorInput:focus {
}

.error {
   color: #CC1439
}
