.App {
    --header_height: 60px;
}

.hw {
    padding: 0 70px 50px;
}

.hwTitle {
    color: rgb(0, 0, 0);
    font-size: 22px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0;
    text-align: left;
    padding: 36px 70px 9px;
    border-bottom: 1px solid rgb(217, 217, 217);
    border-top: 1px solid rgb(217, 217, 217);
}

.wrapper {

}

.container {
    padding: 0 70px;
}
