.App {
    --header_height: 60px;
}

.hw {
    padding: 0 70px 50px;
}

.hwTitle {
    color: rgb(0, 0, 0);
    font-size: 22px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0;
    text-align: left;
    padding: 36px 70px 9px;
    border-bottom: 1px solid rgb(217, 217, 217);
    border-top: 1px solid rgb(217, 217, 217);
}

.wrapper {

}

.container {
    padding: 0 70px;
}
/*.hw1 {*/
/*    padding: 47px 0 32px;*/
/*    border-bottom: 1px solid rgb(217, 217, 217);*/
/*}*/

/*.hw2 {*/
/*    padding: 39px 0 73px;*/
/*    border-bottom: 1px solid rgb(217, 217, 217);*/
/*}*/

/*.hw3 {*/
/*    padding: 35px 0 182px;*/
/*    border-bottom: 1px solid rgb(217, 217, 217);*/
/*}*/

/*.hw4 {*/
/*    padding: 36px 0 55px;*/
/*    border-bottom: 1px solid rgb(217, 217, 217);*/
/*}*/


/*.hw6 {*/
/*    padding: 71px 0 230px;*/
/*    border-bottom: 1px solid rgb(217, 217, 217);*/
/*}*/

/*.hw7 {*/
/*    padding: 71px 0 201px;*/
/*    border-bottom: 1px solid rgb(217, 217, 217);*/
/*}*/

/*.hw8 {*/
/*    background-color: #00cc22;*/
/*}*/

