.App {
    --header_height: 60px;
}

.hw {

}

.hwTitle {
    color: rgb(0, 0, 0);
    font-size: 22px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0;
    text-align: left;
    margin-bottom: 34px;
}

.wrapper {

}

.container {
    padding: 0 70px;
}

.hw3 {
    padding-bottom: 243px;
}

.hw4 {
    padding-bottom: 55px;
}

