.pagination {
    display: flex;

    padding: 33px 0 36px 0;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    /*color: rgb(13, 11, 12);*/
}

.text1 {
    margin-right: 10px;
}

.text2 {
    margin-left: 6px;
}
